apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: media-database-secret
  namespace: media
  annotations:
    argocd.argoproj.io/sync-options: Prune=true
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: bitwarden-secretsmanager
    kind: ClusterSecretStore
  target:
    template:
      type: kubernetes.io/basic-auth
      engineVersion: v2
      data:
        username: "{{ .username }}"
        password: "{{ .password }}"
  data:
    - secretKey: username
      remoteRef:
        key: "fae43b21-c0f8-4477-801d-b39000e5ce31"
    - secretKey: password
      remoteRef:
        key: "0e606c9a-b4f2-44ed-b102-b39000e5dca3"
