apiVersion: apps/v1
kind: Deployment
metadata:
  name: errors-pages-deployment
  namespace: kube-system
spec:
  replicas: 1
  selector:
    matchLabels:
      app: error-pages
  template:
    metadata:
      labels:
        app: error-pages
    spec:
      securityContext:
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
      containers:
        - name: error-pages
          image: ghcr.io/tarampampam/error-pages:3.8
          ports:
            - containerPort: 8080
              protocol: TCP
          env:
            - name: SHOW_DETAILS
              value: "false"
            - name: TEMPLATE_NAME
              value: "lost-in-space"
            - name: DISABLE_L10N
              value: "true"
          resources:
            requests:
              memory: "64Mi"
              cpu: "250m"
            limits:
              memory: "128Mi"
              cpu: "500m"
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            readOnlyRootFilesystem: true
