apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: prowlarr-apikey-secret
  namespace: media
  annotations:
    argocd.argoproj.io/sync-options: Prune=true
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: bitwarden-secretsmanager
    kind: ClusterSecretStore
  data:
    - secretKey: apikey
      remoteRef:
        key: "5c926c2d-2737-4063-9caa-b39000eebed6"
