apiVersion: apps/v1
kind: Deployment
metadata:
  name: flaresolverr-deployment
  namespace: media
spec:
  replicas: 1
  selector:
    matchLabels:
      app: flaresolverr
  template:
    metadata:
      labels:
        app: flaresolverr
    spec:
      securityContext:
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
      containers:
        - name: flaresolverr
          image: ghcr.io/thephaseless/byparr:main
          env:
            - name: TZ
              value: "Europe/Warsaw"
          ports:
            - containerPort: 8191
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
