apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: sonarr-apikey-secret
  namespace: media
  annotations:
    argocd.argoproj.io/sync-options: Prune=true
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: bitwarden-secretsmanager
    kind: ClusterSecretStore
  data:
    - secretKey: apikey
      remoteRef:
        key: "61f1cb49-03ab-48f7-ad45-b3900115dbad"
