apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: authentik-pg-cluster
  annotations:
    argocd.argoproj.io/sync-options: Delete=false
spec:
  instances: 3
  primaryUpdateStrategy: unsupervised
  storage:
    size: 10Gi
  resources:
    requests:
      cpu: 25m
      memory: 125Mi
  bootstrap:
    initdb:
      database: authentik
      owner: authentik
      secret:
        name: authentik-pg-secret
  plugins:
    - name: barman-cloud.cloudnative-pg.io
      isWALArchiver: true
      parameters:
        barmanObjectName: authentik-pg-objectstore
